<form method="POST" action="/edit-profile">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input name="username" placeholder="Nouveau nom d'utilisateur" />
  <button type="submit">Valider</button>
</form>
